<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
  <header>
    <h1>Register for Bot Directory</h1> 
    <nav>
      <a href = "/unemployed">Unemployed Bots:(</a>
      <a href = "/registration">Create Your Bot Profile!</a>
      <a href = "/login">Login to Your Account</a>
      <a href = "/">Return to Directory</a>
    </nav>
  </header>
	<div class = "container"> 	 
  	<form action = "/registration" method = "post">
  		<label>Create a Username:</label>
      </br>
      </br>
  		<input type = "text" name = "username"/>
      </br>
      </br>
  		<label>Create a Password:</label>
      </br>
      </br>
  		<input type = "text" name = "password"/>
      </br>
      </br>
      <label>Add a Avatar (URL):</label>
      </br>
      </br>
      <input type = "text" name = "avatar"/>
      </br>
      </br>
      <label>Your Name:</label>
      </br>
      </br>
      <input type = "text" name = "name"/>
      </br>
      </br>
      <label>Email:</label>
      </br>
      </br>
      <input type = "text" name = "email"/>
      </br>
      </br>
      <label>Education:</label>
      </br>
      </br>
      <input type = "text" name = "university"/>
      </br>
      </br>
      <label>Job Title:</label>
      </br>
      </br>
      <input type = "text" name = "job"/>
      </br>
      </br>
      <label>Current Employer:</label>
      </br>
      </br>
      <input type = "text" name = "company"/>
      </br>
      </br>
      <label>Skills:</label>
      </br>
      </br>
      <input type = "text" name = "skills"/>
      </br>
      </br>
      <label>Phone Number:</label>
      </br>
      </br>
      <input type = "text" name = "phone"/>
      </br>
      </br>
      <label>Address:</label>
      </br>
      </br>
      <label>Street Number:</label>
      </br>
      </br>
      <input type = "text" name = "street_num"/>
      </br>
      </br>
      <label>Street Name:</label>
      </br>
      </br>
      <input type = "text" name = "street_name"/>
      </br>
      </br>
      <label>City:</label>
      </br>
      </br>
      <input type = "text" name = "city"/>
      </br>
      </br>
      <label>State or Province:</label>
      </br>
      </br>
      <input type = "text" name = "state_or_province"/>
      </br>
      </br>
      <label>Postal Code:</label>
      </br>
      </br>
      <input type = "text" name = "postal_code"/>
      </br>
      </br>
      <label>Country:</label>
      </br>
      </br>
      <input type = "text" name = "country"/>
      </br>
      </br>
  		<button type = "submit">Create Profile</button>
  	</form>
  	</div>
</body>
</html>