<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
  <h1>Unemployed Bots:(</h1> 
  <a href = "/">
  <button type = "submit" class = "buttonLink">Return to Main Directory</button>
  </a>
  <div class = "container">
  {{#users}}
  	<a href = "/user/{{username}}">
  	<div class = "usercontainer"> 	
  		<img src = "{{avatar}}"/>
  		</br>
  		<span class = "name">{{name}}</span>
  		</br>
  		{{#job}}
  		<span class = "position">{{job}}</span>
  		{{/job}}
  		{{^job}}
  		<span class = "noposition">Available for Hire</span>
  		{{/job}}
  	</div>
  	</a>
  {{/users}}
  </div>
</body>
</html>
