<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
  <header>
    <h1>Unemployed Bots:(</h1> 
    <nav>
      <a href = "/unemployed">Unemployed Bots:(</a>
      <a href = "/registration">Create Your Bot Profile!</a>
      <a href = "/login">Login to Your Account</a>
      <a href = "/">Return to Directory</a>
    </nav>
  </header>
  <div class = "container">
  {{#users}}
  	<a href = "/user/{{username}}">
  	<div class = "usercontainer"> 	
  		<img src = "{{avatar}}"/>
  		</br>
  		<span class = "name">{{name}}</span>
  		</br>
  		{{#job}}
  		<span class = "position">{{job}}</span>
  		{{/job}}
  		{{^job}}
  		<span class = "noposition">Available for Hire</span>
  		{{/job}}
  	</div>
  	</a>
  {{/users}}
  </div>s
</body>
</html>
