<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css" />
</head>
<body>
  <h1>User Directory</h1>
  <div class = "container">
  	<ul>
  		<a href = "/user.{{username}}">
      <li>
  		<img src = "{{avatar}}"/>
  		<span class "name">{{name}}</span>
  		<span class "position">[{{job}}]</span>
      </li>
  		</a>
    <ul>
  	</div>
  </div>
</body>
</html>