<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/main.css" />
</head>
<body>
   <header>
    <nav>
      <a href = "/unemployed">Unemployed Bots:(</a>
      <a href = "/registration">Create Your Bot Profile!</a>
      <a href = "/login">Login to Your Account</a>
      <a href = "/">Return to Directory</a>
    </nav>
  </header>
    <div class = "container">
      {{#user}}
      <div class = "userProfile">
      <img class = "profilePic" src = "{{avatar}}"/>  
        <div class = "userProfileInfo"> 
        <h1 class = "userName">{{name}}</h1>    
        <p class = "userInfo">
          {{#address.city}}
          {{address.city}}, {{address.country}} |
          {{/address.city}}
          {{^address.city}}
          {{address.country}} |
          {{/address.city}}
          {{#job}}
          {{job}}
          {{/job}}
          {{^job}}
          <span style = "color: red">Available for Hire</span>
          {{/job}}
          </br>
          {{email}} |
          {{phone}} 
          <ul style = "list-style: none">
            {{#university}}
            <li><span style = "font-weight: bold">Education </span>
            </br>
            {{university}}</li>
            <li><span style = "font-weight: bold">Skills </span>
            </br>
            {{skills}}
            </li>
            {{/university}}
            {{^university}}
            <li><span style = "font-weight: bold">Skills </span>
            </br>
            {{skills}}
            </li>
            {{/university}}
            </br>  
            <a href = "/edit/{{username}}"><button>Edit Profile</button>      
        </div>
      </div>
      {{/user}}
    </div>s
</body>
</html>