html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

body {
  margin:0;
  padding:0;
}
.buttonLink {
	text-align: center;
	margin-left: 190px;

}

.name {
	color: blue;
	text-decoration: none;
	text-transform: none;
	font-size: 18px;
	font-family: Helvetica, Arial, Sans-Serif;

}

.position {
	color: black;
	text-decoration: none;
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
}

.noposition {
	color: red;
	text-decoration: none;
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
}

a {
	text-decoration: none;
	text-align: center;
}

h1 {
  color:blue;
  text-align: center;
  font-size: 63px;
  font-family: Helvetica, Arial, Sans-Serif;
}
}

p > ul > li {
	list-style: none;
}






.container {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
}

.usercontainer {
	width: 200px;
	height: 200px;
	border: 1px solid gray;
	margin: 10px;
	text-align: center;
}


.userProfile {
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	margin: 10px;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 18px;
}

.userProileInfo {
	width : 250px;
	list-style: none;
	padding : 15px;
}

.profilePic {
	margin: 30px;
}

