html {box-sizing:border-box;}
*, *:before, *:after {box-sizing:inherit;}

body {
  margin:0;
  padding:0;
}
.buttonLink {
	text-align: center;
	margin-left: 190px;

}

.name {
	color: blue;
	text-decoration: none;
	text-transform: none;
	font-size: 18px;
	font-family: Helvetica, Arial, Sans-Serif;

}

.position {
	color: black;
	text-decoration: none;
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
}

.noposition {
	color: red;
	text-decoration: none;
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
}

a {
	text-decoration: none;
	text-align: center;
}

h1 {
  color:blue;
  text-align: center;
  font-size: 63px;
  font-family: Helvetica, Arial, Sans-Serif;
}


h3 {
	color: blue;
	text-align: center;
	font-family: Helvetica, Arial, Sans-Serif;
}


p > ul > li {
	list-style: none;
}


nav {
	text-align: center;
}

nav > a {
	padding: 25px;
	font-family: Helvetica, Arial, Sans-Serif;
	color: blue;
}

a:hover {
	color: red;
}

button {
	width: 200px;
	height: 50px;
	background-color: red;
	font-family: Helvetica, Arial, Sans-Serif;
	color: white;
	font-size: 24px;
	margin: 0 auto;
}

input {
	width: 500px;
	height: 50px;
	font-size: 18px;
	color: blue;
	font-family: Helvetica, Arial, Sans-Serif;
	margin: 0 auto;
}

form {
	margin-top: 25px;
}

label {
	font-size: 18px;
	color: blue;
	font-family: Helvetica, Arial, Sans-Serif;
}

.usercontainer > img {
	width: 175px;
	height: 75%;
}



.container {
	width: 1000px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	justify-content: center;
	padding: 15px;
}

.usercontainer {
	width: 200px;
	height: 200px;
	border: 1px solid gray;
	text-align: center;
}




.userProfile {
	width: 800px;
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 18px;
	justify-content: center;
}

.userProfileInfo {
	width: 450px;
	list-style: none;
	padding: 15px;
}

.profilePic {
	width: 200px;
	height: 40%;
}

